@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Inter";
    text-align: center;
    font-size: 3.8em;
    margin: 0;
    max-width: 80%;
}

section {
    height: 100vh;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#locations {
    display: flex;
    padding: 0 2em;
    justify-content: center;
    align-items: center;
}

#locations p {
    font-size: 1.5em;
    text-align: left;
}

#capacity {
    display: flex;
    justify-content: center;
    margin-top: 10em;
    flex-direction: column;
}

#capacity p {
    font-size: 1.5em;
    max-width: 50%;
    margin: 0 auto;
}