@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


body {
    text-align: center;
    background-color: #5743de;
    position: relative;
    display: flex;
}

h1 {
    font-family: "Inter";
    color: #fff;
    text-align: center;
    font-size: 1.8em;
}

#overlay {
    padding: 0 1.5em;
    width: 450px;
    height: 800px;
    position: relative;
    top: 40px;
    left: 40px;
    background-color: #25187b;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
}