@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #07144F;
    color: #fff;
}

#intro h1 {
    font-family: "Inter";
    text-align: center;
    font-size: 3em;
    margin: 0;
    max-width: 80%;
}

h2 {
    font-size: 3.5em;
    margin: 0;
}


#intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro span {
    color: darkred;
}

#locations {
    display: flex;
    padding: 0 2em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 9em;
    display: none;
}

#locations p,
#comparison p {
    font-size: 1.3em;
    max-width: 50%;
    margin: 1.5em auto;
    font-weight: normal;
}

#capacityfilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

#capacityfilter label {
    margin-bottom: .5em;
}

#capacity {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4em;
}

#capacity p {
    font-size: 1em;
    max-width: 50%;
    margin: 1.5em auto;
    font-weight: normal;
}

#capacity h2 {
    font-size: 2.2em;
}

#comparison {
    display: none;
}

#capacity>label:first-of-type {
    margin-bottom: 1em;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

form div {
    margin: 0 1em;
    display: flex;
    align-items: center;
}

form div label {
    font-family: 'Inter';
    font-weight: bold;
    margin-right: 5px;
}

form input {
    width: 15px;
    height: 15px;
}

#parkinglocations h1 {
    font-size: 3em;
}

.tooltip {
    position: absolute;
    display: block;
    height: 40px;
    text-align: left;
    font-family: 'Inter';
    background-color: darkred;
    color: #fff;
    padding: .5em 1em;
    border-radius: 5px;
}


@media only screen and (min-width: 1440px) {
    #intro h1 {
        font-size: 4em;
    }
}